<div class="container home">
	<h1 class="crd-brand">cristheinz</h1>
	
	<div class="span6 offset1">
		<h3>About</h3>
		<p><%= render 'static_pages/about'%></p>
	</div>
	<div class="span3 offset1">
		<h3>Tags</h3>
		<p><%= render 'static_pages/keywords'%></p>
	</div>

</div>

<footer class="footer">
 <div class="navbar navbar-fixed-bottom">
  <p class="muted">© <%= Time.now.year %> - Crafted in Lisbon.</p>
 </div>
</footer>